body{
   overflow-x: hidden; 
}

.nav-tabs > li > a.active {
    background-color: #ffc107 !important;
    color: white !important;
}

.nav-tabs > li > a {
    color: white !important;
}

.pagination > li > a,
.pagination > li > span {
    color: green; 
}

.pagination .page-item .page-link{
    background: black !important;
}

a.cardlink,
a.cardlink:hover {
  color: inherit !important;
}

.w-20{
    width: 15%;
}

.w-15{
    width: 15%;
}

.w-10{
    width: 10%;
}
